<form>
    <div class="container w-100">
        <div class="row">
            <div class="col col-sm-3">
                <h1>
                    Votre panier
                </h1>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col">
                <app-cart-list [cart]="cart"></app-cart-list>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col col-sm-6">
                <table class="table table-bordered table-responsive-xl table-active">
                    <thead style=" background-color: white; text-align: center;">
                        <th scope="row" colspan="2">
                            Méthode de livrason
                        </th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Gratuite (7 à 14 jours ouvrable)
                            </td>
                            <td>
                                <input type="radio" checked>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Express (1 à 5 jours ouvrable) 5.00$
                            </td>
                            <td>
                                <input type="radio">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col col-sm-6">
                <button class="btn btn-lg btn-success btn-block" type="submit">
                    Passer à la caisse
                </button>
                <a [routerLink]="['/products']" class="btn btn-lg btn btn-danger btn-block" role="button">
                    Annuler
                </a>
            </div>
        </div>
    </div>
</form>