<h1> Detail  de la commande #       Date</h1>
<button class="btn btn-success">Modifier</button> <button class="btn btn-danger"> Annuler la commande</button>
<div>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Facture :</th>
      </tr>
    </thead>
    <tbody>
        <tr> <td> Sous-Total : </td> <td> Todo </td></tr>
        <tr><td> Total taxes : </tb> <td> Todo </td> </tr>
        <tr> <tb>  Total : </tb>  <td> Todo </td> </tr>
    </table> 
</div>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Produit :</th>
        <th scope="col">Prix unitaire :</th>
        <th scope="col">Total :</th>
        
      </tr>
    </thead>
    <tbody>
        <tr> <td> Sous-Total : </td> <td> Todo </td></tr>
        <tr><td> Total taxes : </tb> <td> Todo </td> </tr>
        <tr> <tb>  Total : </tb>  <td> Todo </td> </tr>
 </table> 

