<h1 class="text-center">PRODUITS EN VEDETTE</h1>
<div class="row w-100">
    <div class="col-md-4 product-grid text-center">
        <div class="image">
            <a [routerLink]="['/products', product1.id]">
                <img class="rounded" src="{{ product1.picture }}" width="200" height="200">
                <div class="overlay">
                    <div class="detail">View Details</div>
                </div>
            </a>
        </div>
        <h5 class="text-center">{{ product1.title }}</h5>
        <h5 class="text-center">{{ product1.price }}$</h5>
        <button (click)="addToCart(product1)" class="btn btn-warning">Ajouter au panier</button>
        <p> --- </p>
    </div>
    <div class="col-md-4 product-grid text-center">
        <div class="image">
            <a [routerLink]="['/products', product2.id]">
                <img class=" rounded" src="{{ product2.picture }}" width="200" height="200">
                <div class="overlay">
                    <div class="detail">View Details</div>
                </div>
            </a>
        </div>
        <h5 class="text-center">{{ product2.title }}</h5>
        <h5 class="text-center">{{ product2.price }}$</h5>
        <button (click)="addToCart(product2)" class="btn btn-warning">Ajouter au panier</button>
        <p> --- </p>
    </div>
    <div class="col-md-4 product-grid text-center">
        <div class="image">
            <a [routerLink]="['/products', product3.id]">
                <img class=" rounded" src="{{ product3.picture }}" width="200" height="200">
                <div class="overlay">
                    <div class="detail">View Details</div>
                </div>
            </a>
        </div>
        <h5 class="text-center">{{ product3.title }}</h5>
        <h5 class="text-center">{{ product3.price }}$</h5>
        <button (click)="addToCart(product3)" class="btn btn-warning">Ajouter au panier</button>
        <p> --- </p>
    </div>
    <div class="col-md-4 product-grid text-center">
        <div class="image">
            <a [routerLink]="['/products', product4.id]">
                <img class=" rounded" src="{{ product4.picture }}" width="200" height="200">
                <div class="overlay">
                    <div class="detail">View Details</div>
                </div>
            </a>
        </div>
        <h5 class="text-center">{{ product4.title }}</h5>
        <h5 class="text-center">{{ product4.price }}$</h5>
        <button (click)="addToCart(product4)" class="btn btn-warning">Ajouter au panier</button>
        <p> --- </p>
    </div>
    <div class="col-md-4 product-grid text-center">
        <div class="image">
            <a [routerLink]="['/products', product5.id]">
                <img class=" rounded" src="{{ product5.picture }}" width="200" height="200">
                <div class="overlay">
                    <div class="detail">View Details</div>
                </div>
            </a>
        </div>
        <h5 class="text-center">{{ product5.title }}</h5>
        <h5 class="text-center">{{ product5.price }}$</h5>
        <button (click)="addToCart(product5)" class="btn btn-warning">Ajouter au panier</button>
        <p> --- </p>
    </div>
    <div class="col-md-4 product-grid text-center">
        <div class="image">
            <a [routerLink]="['/products', product6.id]">
                <img class=" rounded" src="{{ product6.picture }}" width="200" height="200">
                <div class="overlay">
                    <div class="detail">View Details</div>
                </div>
            </a>
        </div>
        <h5 class="text-center">{{ product6.title }}</h5>
        <h5 class="text-center">{{ product6.price }}$</h5>
        <button (click)="addToCart(product6)" class="btn btn-warning">Ajouter au panier</button>
        <p> --- </p>
    </div>
</div>