<h1 class="text-center">PRODUITS EN VEDETTE</h1>
<div class="row">
    <div class="col-md-4 product-grid text-center">
        <div class="image">
            <a href="products/{{ product1.id }}">
                <img src="{{ product1.picture }}" class="w-50 h-50">

                <div class="overlay">
                    <div class="detail">View Details</div>
                </div>
            </a>
        </div>
        <h5 class="text-center">{{ product1.title }}</h5>
        <h5 class="text-center">{{ product1.price }}$</h5>
        <a href="#" class="btn buy">BUY</a>
    </div>
    <div class="col-md-4 product-grid text-center">
        <div class="image">
            <a href="products/{{ product2.id }}">
                <img src="{{ product2.picture }}" class="w-50 h-50">
                <div class="overlay">
                    <div class="detail">View Details</div>
                </div>
            </a>
        </div>
        <h5 class="text-center">{{ product2.title }}</h5>
        <h5 class="text-center">{{ product2.price }}$</h5>
        <a href="#" class="btn buy">BUY</a>
    </div>
    <div class="col-md-4 product-grid text-center">
        <div class="image">
            <a href="products/{{ product3.id }}">
                <img src="{{ product3.picture }}" class="w-50 h-50">
                <div class="overlay">
                    <div class="detail">View Details</div>
                </div>
            </a>
        </div>
        <h5 class="text-center">{{ product3.title }}</h5>
        <h5 class="text-center">{{ product3.price }}$</h5>
        <a href="#" class="btn buy">BUY</a>
    </div>
    <div class="col-md-4 product-grid text-center">
        <div class="image">
            <a href="products/{{ product4.id }}">
                <img src="{{ product4.picture }}" class="w-50 h-50">
                <div class="overlay">
                    <div class="detail">View Details</div>
                </div>
            </a>
        </div>
        <h5 class="text-center">{{ product4.title }}</h5>
        <h5 class="text-center">{{ product4.price }}$</h5>
        <a href="#" class="btn buy">BUY</a>
    </div>
    <div class="col-md-4 product-grid text-center">
        <div class="image">
            <a href="products/{{ product5.id }}">
                <img src="{{ product5.picture }}" class="w-50 h-50">
                <div class="overlay">
                    <div class="detail">View Details</div>
                </div>
            </a>
        </div>
        <h5 class="text-center">{{ product5.title }}</h5>
        <h5 class="text-center">{{ product5.price }}$</h5>
        <a href="#" class="btn buy">BUY</a>
    </div>
    <div class="col-md-4 product-grid text-center">
        <div class="image">
            <a href="products/{{ product6.id }}">
                <img src="{{ product6.picture }}" class="w-50 h-50">
                <div class="overlay">
                    <div class="detail">View Details</div>
                </div>
            </a>
        </div>
        <h5 class="text-center">{{ product6.title }}</h5>
        <h5 class="text-center">{{ product6.price }}$</h5>
        <a href="#" class="btn buy">BUY</a>
    </div>
</div>