<td>{{conversation.title}}</td>
<td>{{conversation.fullname}}</td>
<td>{{conversation.user_email}}</td>
<td>{{trimCreatedAt(conversation.created_at)}}</td>
<td *ngIf="statusCondition(); else statusFalse" style="color: green;">{{conversation.status}}</td>
<ng-template #statusFalse>
  <td style="color: red">{{conversation.status}}</td>
</ng-template>
<td>
  <button (click)="clicked()" type="button" class="btn btn-sm btn-primary" [disabled]="!statusCondition()"><i class="fa fa-commenting-o fa-2x" aria-hidden="true"></i></button>
  <button style="margin-left: 5px;" (click)="deleteConversation()" type="button" class="btn btn-sm btn-danger" [disabled]="statusCondition()"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></button>
</td>
