<div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
    <div>
        <div>
            <div>
                <table class="table table-dark table-bordered table-responsive-sm">
                    <thead>
                        <th scope="row" colspan="2"> Mes informations </th>
                    </thead>
                    <tbody>
                        <tr>
                          <td id="center">Photo de profile</td>
                          <td>
                            <img src="{{ currentUser.picture_url }}" width="150" height="150">
                          </td>
                        </tr>
                        <tr>
                            <td id="header"> Prénom </td>
                            <td>{{currentUser.firstname}}</td>
                        </tr>
                        <tr>
                            <td id="header"> Nom </td>
                            <td> {{currentUser.lastname}}</td>
                        </tr>
                        <tr>
                            <td id="header"> Email </td>
                            <td>{{currentUser.email}} </td>
                        </tr>
                        <tr>
                            <td id="header"> Adresse </td>
                            <td>{{currentUser.address}} </td>
                        </tr>
                        <tr>
                            <td id="header"> Ville </td>
                            <td>{{currentUser.city}} </td>
                        </tr>
                        <tr>
                            <td id="header"> Code Postal </td>
                            <td>{{currentUser.postal_code}}</td>
                        </tr>
                        <tr>
                            <td id="header"> Province </td>
                            <td> {{currentUser.province}}</td>
                        </tr>
                        <tr>
                            <td id="header"> Numero de téléphone </td>
                            <td>{{currentUser.phone_number}} </td>
                        </tr>
                </table>
            </div>
        </div>
        <div>
            <div>
                <form [formGroup]="searchCommandForm" (ngSubmit)="searchCommand()" class="form-inline" style="margin-bottom: 5px;">
                    <input formControlName="search" placeholder="Rechercher etat" type="text" class="form-control" list="state">
                    <button class="btn btn-primary" type="submit" style="margin-left: 3px;"><i class="fa fa-search"></i></button>
                    <datalist id="state">
                        <option value="Payé">
                        <option value="Envoyé">
                        <option value="Livré">
                    </datalist>
                </form>
            </div>
            <table class="table table-dark table-bordered table-responsive-sm">
                <thead style="text-align: center;  border: 1px solid white">
                    <th scope="row" colspan="3"> Mes commandes </th>
                    <tr style="width: 100%;">
                        <td style="text-align: center; font-weight: bold; width: 33%;"(click)="sortByID()">
                            Numéro de la Commande
                            <i *ngIf="this.sort==''" class="fa fa-angle-down"></i>
                        </td>
                        <td style="text-align: center; font-weight: bold; width: 33%;" (click)="sortByPrice()">
                            Total
                            <i *ngIf="this.sort=='priceUp'" class="fa fa-angle-up"></i>
                            <i *ngIf="this.sort=='priceDown'" class="fa fa-angle-down"></i>
                        </td>
                        <td style="text-align: center; font-weight: bold; width: 33%;" (click)="sortBydate()">
                            Date
                            <i *ngIf="this.sort=='date'" class="fa fa-angle-up"></i>
                            <i *ngIf="this.sort=='dateReverse'" class="fa fa-angle-down"></i>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let command of userCommands; let i = index">
                        <td style="text-align: center;"><a [routerLink]="['/commands',command.id]"> {{command.id}}</a></td>
                        <td>{{command.total}} $</td>
                        <td>{{command.created_at}} </td>
                    </tr>
            </table>
        </div>

    </div>
