<div>
<div class="float-xl-left">
    <p>TODO photo a mettre ici je sais pas comment  :(</p>
</div>
<div class="float-xl-right">
    <select name="cars" id="cars">
        <option value="volvo">todo</option>
        <option value="saab">todo</option>
    </select>
    <input type="text" id="lname" name="lname">
</div>
<br>
<br>
<br>
<div>
    <div class="float-xl-left">
        <div class="float-xl-right">
            <table class="table table-bordered table-responsive-xl">
              <thead style="background-color: white; text-align: center;">
                 <th scope="row" colspan="2"> Mes informations </th>
              </thead>
              <tbody>
           <tr> <td style="text-align: center;"> Prémon </td><td>{{currentUser.firstname}}</td> </tr> 
           <tr> <td style="text-align: center;"> Nom </td><td> {{currentUser.lastname}}</td></tr> 
           <tr> <td style="text-align: center;"> Email </td><td>{{currentUser.email}} </td></tr> 
           <tr> <td style="text-align: center;"> Adresse </td><td>{{currentUser.address}} </td></tr> 
           <tr> <td style="text-align: center;"> Ville </td><td>{{currentUser.city}} </td></tr> 
           <tr> <td style="text-align: center;"> Code Postale </td><td>{{currentUser.postal_code}}</td></tr> 
           <tr> <td style="text-align: center;"> Province </td><td> {{currentUser.province}}</td></tr> 
           <tr> <td style="text-align: center;"> Numero de téléphone </td><td>{{currentUser.phone_number}} </td></tr> 
              </table>  
        </div>
    </div>
    <div class="float-xl-right">
        <table class="table table-bordered table-responsive-xl">
            <thead style="background-color: white; text-align: center;">
               <th scope="row" colspan="3"> Mes commandes </th>
             <tr> <td style="text-align: center;"> Numéro de la Commande </td> <td > <a (click)="sortBy()">Total </a></td> <td>Date</td></tr> 
            </thead>
            <tbody>
                <tr *ngFor="let command of userCommands; let i = index">
                    <td style="text-align: center;"><a href="commands/{{command.id}}"> {{command.id}}</a></td>
                    <td>{{command.total}}</td>
                    <td>{{command.created_at}}</td>
                </tr>
            </table>         
    </div>

</div>
