<div class="col w-100">
    <form [formGroup]="searchProductForm" (ngSubmit)="search()">
        <div class="row">
            <div class="col-sm-10">
                <input formControlName="search" type="text" placeholder="Rechercher un produit" class="form-control">
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-secondary">
                    <img src="https://openclipart.org/image/2400px/svg_to_png/213239/Search-icon.png"
                        class="img-responsive fit-image">
                </button>
            </div>
        </div>
    </form>
</div>