<!-- <div class="fixed-top">
  <div class="row">
    <div class="col text-center" style="background-color:#d5e5fa">
      <h1>Animalerie en ligne</h1>
      <h5>JFJ</h5>
    </div>
  </div>

  <-- https://getbootstrap.com/docs/4.0/examples/navbars/
  <nav class="navbar navbar-expand" style="background-color:#d5e5fa">
    <div class="collapse navbar-collapse" style="height: 30px">
      <ul class="navbar-nav mr-auto">
        <div class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a [routerLink]="['/products']" class="text-dark bold mr-4">Produits</a>
          </li>
        </div>
      </ul>
      <div class="row " style="margin-bottom: 100px;">
        <div class="col px-md-1">
          <button *ngIf="this.isLoggedIn()!=false" (click)="logOut()" type="button"
            class="btn btn-danger">Déconnexion</button>
        </div>
        <div class="col px-md-1">
          <button *ngIf="this.isLoggedIn()!=true" [routerLink]="['/login']" type="button"
            class="btn btn-success">Connexion</button>
        </div>
        <div class="col px-md-1">
          <button *ngIf="this.isLoggedIn()!=false" [routerLink]="['/profile']" type="button" class="btn btn-success">Mon
            Profil</button>
        </div>
        <div class="col px-md-1">
          <button *ngIf="this.isLoggedIn()!=true" [routerLink]="['/signup']" type="button"
            class="btn btn-outline-success">Inscription</button>
        </div>
      </div>
    </div>
  </nav>
</div> -->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      Animalerie En Ligne JFJ
    </a>

    <button class="navbar-toggler" type="button"
            (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse"
         [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Acceuil</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/products">Produits</a>
        </li>

        <li class="nav-item" *ngIf="this.isLoggedIn()!=true">
          <a class="nav-link" href="/login">Se connecter</a>
        </li>
        <li class="nav-item" *ngIf="this.isLoggedIn()!=true">
          <a class="nav-link"  href="/signup">Inscription</a>
        </li>
        <li class="nav-item" *ngIf="this.isLoggedIn()!=false">
          <a class="nav-link" (click)="logOut()" href="#">Se déconnecter</a>
        </li>
        <li class="nav-item" *ngIf="this.isLoggedIn()!=false">
          <a class="nav-link" href="/profile">Mon Profil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/help">Aide</a>
        </li>
      </ul>
    </div>
  </nav>



<div>
  <router-outlet></router-outlet>
</div>


