         <div class="fixed-top">
  <div class="row">
    <div class="col text-center" style="background-color:#d5e5fa">
      <h1>JFJ</h1>
    </div>
  </div>

  <!-- https://getbootstrap.com/docs/4.0/examples/navbars/ -->
  <nav class="navbar navbar-expand" style="background-color:#d5e5fa">
    <div class="collapse navbar-collapse" style="height: 30px">
      <ul class="navbar-nav mr-auto">
        <div class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a [routerLink]="['/produits']" class="text-dark bold mr-4">Work in Progress</a>
          </li>
        </div>
      </ul>
      <div class="row " style="margin-bottom: 100px;">
        <div class="col px-md-1">
          <button *ngIf="this.isLoggedIn()!=false" (click)="logOut()" type="button"
            class="btn btn-danger">Déconnexion</button>
        </div>
        <div class="col px-md-1">
          <button *ngIf="this.isLoggedIn()!=true" [routerLink]="['/login']" type="button"
            class="btn btn-success">Connexion</button>
        </div>
        <div class="col px-md-1">
          <button *ngIf="this.isLoggedIn()!=true" [routerLink]="['/signup']" type="button"
            class="btn btn-success">Inscription</button>
        </div>
      </div>
    </div>
  </nav>
</div>

<div class="pt-4" style="margin: 112px 0px 24px 0px;">
  <router-outlet></router-outlet>
</div>