<div class="row d-flex justify-content-center w-100">
    <div class="col-2" style="background-color: rgb(171, 191, 170)">
        <div class="content-align-rigth w-100">
            <form [formGroup]="searchForm" (ngSubmit)="search()" class="form-inline">
                <input formControlName="search" placeholder="PLACEHOLDER" type="text" class="form-control w-75">
                <button class="btn btn-primary" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
        <form [formGroup]="filterForm" (ngSubmit)="filter()" class="float-rigth">
            <div class="form-group">
                <label>Animal</label>
                <div class="radio" *ngFor="let animal of animal_type">
                    <label>
                        <input type="radio" formControlName="animal" [value]="animal" checked>
                        {{ animal }}
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label>Catégorie</label>
                <div class="radio" *ngFor="let category of categories">
                    <label>
                        <input type="radio" formControlName="category" [value]="category" checked>
                        {{ category }}
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Appliquer</button>
            <button (click)="reset()" class="btn btn-outline-primary">Réinitialiser</button>
        </form>
    </div>
    <div class="col-10">
        <div class="row w-100">
            <div class="col col-sm-12">
                <h1>
                    Sommaire des Produits
                </h1>
            </div>
        </div>
        <table class="table table-bordered table-responsive-xl table-active">
            <thead style="background-color: white; text-align: center;">
                <tr class="text-center">
                    <td style="background-color: white;">
                        products title
                    </td>
                    <td style="background-color: white;">
                        products category
                    </td>
                    <td style="background-color: white;">
                        products animal type
                    </td>
                    <td style="background-color: white;">
                        <a (click)="sortBy('productprice')">
                            products price
                        </a>
                    </td>
                    <td style="background-color: white;">
                        <a (click)="sortBy('sumcartproductquantity')">
                            sum of cart products quantity
                        </a>
                    </td>
                    <td style="background-color: white;">
                        <a (click)="sortBy('averagecartproductquantity')">
                            average cart products quantity
                        </a>
                    </td>
                    <td style="background-color: white;">
                        <a (click)="sortBy('sumcartproducttotal')">
                            sum of cart products total
                        </a>
                    </td>
                    <td style="background-color: white;">
                        <a (click)="sortBy('averagecartproducttotal')">
                            average cart products total
                        </a>
                    </td>
                    <td style="background-color: white;">
                        <a (click)="sortBy('productnumbercart')">
                            products number of cart
                        </a>
                    </td>
                    <td style="background-color: white;">
                        <a (click)="sortBy('averagecarttotal')">
                            average carts total
                        </a>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let productsSommary of productsSommaries" class="text-center" app-products-sommary-list-item
                    [productsSommary]="productsSommary">
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row d-flex justify-content-center w-100">
    <div class="col col-sm-6">
        <a [routerLink]="" class="btn btn-lg btn btn-outline-danger btn-block" role="button">
            Retour au produits
        </a>
    </div>
</div>
<br>