<body>

  <body>

    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
      <h1>Admin</h1>

      <div style="float: right; margin-bottom: 10px;">
        <form [formGroup]="searchConversationsForm" (ngSubmit)="searchConversations()" class="form-inline">
          <div class="form-group">
            <input formControlName="search" placeholder="Recherher...." type="text" class="form-control">
            <button class="btn btn-primary" type="submit" style="margin-left: 3px;"><i
                class="fa fa-search"></i></button>

            <select class="form-control" formControlName="type" style="margin-left: 3px;">
              <option *ngFor="let type of types" [ngValue]="type">{{type}}</option>
            </select>

            <button class="btn btn-secondary" type="button" style="margin-left: 3px;" (click)="getConversations('')"><i
                class="fa fa-retweet"></i></button>
          </div>
        </form>
      </div>

      <table class="table table-dark table-bordered table-responsive-sm" style="margin-top: 10px;">

        <thead>
          <tr>
            <th scope="col" colspan="5">Listes des conversations</th>
          </tr>
        </thead>

        <thead>
          <tr>
            <th scope="col" (click)="sortByTitle()">Titre</th>
            <th scope="col" (click)="sortByFullname()">Nom Utilisateur</th>
            <th scope="col" (click)="sortByEmail()">Email Utilisateur</th>
            <th scope="col" (click)="sortByCreationDate()">Date de création</th>
            <th scope="col" (click)="sortByStatus()">Status</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let conversation of conversations" app-admin-list-item [conversation]="conversation"
            (conversationClicked)="conversationClicked($event)" (delete)="delete($event)"></tr>
        </tbody>

      </table>

      <h1>Rapports</h1>
      <div class="row" style="float: left">
        <a class="nav-link" [routerLink]="['/products-sommary']">Sommaire des produits</a>
        <a class="nav-link" [routerLink]="['/usercommandsummary']">Sommaire des commandes par utilisateur</a>
      </div>

    </div>
  </body>