<body>
  <body>

    <div>
      <h1>Admin</h1>

      <table class="table table-bordered">

        <thead style="background-color: white;">
          <tr>
            <th scope="col" colspan="3">Listes des conversations</th>
          </tr>
        </thead>

        <thead>
          <tr>
            <th scope="col">Utilisateur</th>
            <th scope="col">Lien</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>

        <tbody>

        </tbody>

      </table>

    </div>
</body>
