<body>
  <body>

    <div>
      <h1>Admin</h1>

      <table class="table table-bordered">

        <thead style="background-color: white;">
          <tr>
            <th scope="col" colspan="3">Listes des conversations</th>
          </tr>
        </thead>

        <thead style="background-color: white;">
          <tr>
            <th scope="col">Utilisateurs</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>

        <tbody>
         <tr *ngFor="let conversation of conversations" app-admin-list-item [conversation]="conversation" (conversationClicked)="conversationClicked($event)" (delete)="delete($event)"></tr>
        </tbody>

      </table>

    </div>
</body>
