<td>
    {{ cartProduct.products[0].title }}
</td>
<td class="text-right">
    {{ cartProduct.products[0].price }}$
</td>
<td>
    <form [formGroup]="cartItemForm" (ngSubmit)="refreshItem()">
        <div class="row justify-content-md-end">
            <div class="col col-sm-2">
                Quantité:
            </div>
            <div class="col col-sm-2 form-group">
                <input formControlName="quantity" type="number" min="1" max="{{ cartProduct.products[0].quantity }}"
                    value="{{ cartProduct.quantity }}">
            </div>
            <div class="col col-sm-5 form-group">
                <button class="btn btn-info" type="submit">
                    <i class="fa fa-check-circle fa-1x"></i>
                </button>
                <a class="btn btn-danger" (click)="deleteCartProduct(cartProduct)">
                    <i class="fa fa-trash"></i>
                </a>
            </div>
        </div>
    </form>
</td>
<td class="text-right">
    {{ cartProduct.total_price }}$
</td>