<div class="row w-100">
    <div class="col-2" style="background-color: rgb(171, 191, 170);">
        <form [formGroup]="filterForm" (ngSubmit)="filter()" style="margin-left: 5px;">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Options</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01" formControlName="select">
                    <option value="Ordre Alphabétique Croissant">Ordre Alphabétique Croissant</option>
                    <option value="Ordre Alphabétique Décroissant">Ordre Alphabétique Décroissant</option>
                    <option value="Prix Croissant">Prix Croissant</option>
                    <option value="Prix Décroissant">Prix Décroissant</option>
                </select>
            </div>
            <div class="form-group">
                <label>Animal</label>
                <div class="radio" *ngFor="let animal of animal_type">
                    <label>
                        <input type="radio" formControlName="animal" [value]="animal" checked>
                        {{ animal }}
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label>Catégorie</label>
                <div class="radio" *ngFor="let category of categories">
                    <label>
                        <input type="radio" formControlName="category" [value]="category" checked>
                        {{ category }}
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Appliquer</button>
            <button style="margin-left: 5px;" (click)="reset()" class="btn btn-secondary" type="button">Réinitialiser</button>
        </form>
    </div>
    <div class="col-10">
        <app-products-list></app-products-list>
    </div>
</div>
