<div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
    <form [formGroup]="searchCommandForm" (ngSubmit)="search()" class="form-inline" style="margin-bottom: 5px;">
        <input formControlName="search" placeholder="Entrez un couriel d'utilisateur" type="text" class="form-control">
        <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
    </form>
    <table class="table table-dark table-bordered table-responsive-sm">
    <thead>
       <th scope="row" colspan="7"> Sommaire des commandes par utilisateur </th>
       <tr>
       <th scope="row" colspan="1" (click)="sortEmail()">
           Utilisateur 
           <i *ngIf="this.sortMode=='EmailUp'" class="fa fa-angle-up"></i>
           <i *ngIf="this.sortMode=='EmailDown'" class="fa fa-angle-down"></i> 
        </th>
       <th scope="row" colspan="1" (click)="sortAvgUnit()">
           Moyenne du prix unitaire des produits 
           <i *ngIf="this.sortMode=='AvgUnitUp'" class="fa fa-angle-up"></i>
           <i *ngIf="this.sortMode=='AvgUnitDown'" class="fa fa-angle-down"></i> 
        </th>
       <th scope="row" colspan="1" (click)="sortAvgProduct()"> 
           Quantité moyenne par produit 
           <i *ngIf="this.sortMode=='AvgProductUp'" class="fa fa-angle-up"></i>
           <i *ngIf="this.sortMode=='AvgProductDown'" class="fa fa-angle-down"></i> 
       </th>
       <th scope="row" colspan="1" (click)="sortMinValue()">
           Valeur minimum par commande 
           <i *ngIf="this.sortMode=='MinCommandValueUp'" class="fa fa-angle-up"></i>
           <i *ngIf="this.sortMode=='MinCommandValueDown'" class="fa fa-angle-down"></i> 
        </th>
       <th scope="row" colspan="1" (click)="sortMaxValue()">
           Valeur maximum par commande
           <i *ngIf="this.sortMode=='MaxCommandValueUp'" class="fa fa-angle-up"></i>
           <i *ngIf="this.sortMode=='MaxCommandValueDown'" class="fa fa-angle-down"></i> 
          </th>
       <th scope="row" colspan="1" (click)="sortAvgValue()">
           Valeur moyenne par commande
           <i *ngIf="this.sortMode=='AvgCommandValueUp'" class="fa fa-angle-up"></i>
           <i *ngIf="this.sortMode=='AvgCommandValueDown'" class="fa fa-angle-down"></i> 
            </th>
       <th scope="row" colspan="1" (click)="sortTotalValue()">
           Valeur Total commandé  
           <i *ngIf="this.sortMode=='TotalCommandValueUp'" class="fa fa-angle-up"></i>
           <i *ngIf="this.sortMode=='TotalCommandValueDown'" class="fa fa-angle-down"></i> 
        </th>
      </tr>
    </thead>

    <tbody>
        <tr *ngFor="let userCommandSummary of this.userCommandSummary" class="text-center">
        <td>
            {{userCommandSummary.email}}
            <br>
            {{userCommandSummary.fullname}}
            
        </td>
        <td>{{userCommandSummary.unit_product_value_average}}$</td>
        <td>{{userCommandSummary.average_unit_per_product}}</td>
        <td>{{userCommandSummary.minimum_command_value_sub_total}}$</td>
        <td>{{userCommandSummary.maximum_command_value_sub_total}}$</td>
        <td>{{userCommandSummary.Average_command_value_sub_total}}$</td>
        <td>{{userCommandSummary.total_command_value}}$</td>
        </tr>
    </table>
</div>
