<div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
    <form [formGroup]="searchCommandForm" (ngSubmit)="search()" class="form-inline" style="margin-bottom: 5px;">
        <input formControlName="search" placeholder="Entrez un couriel d'utilisateur" type="text" class="form-control">
        <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
    </form>
    <table class="table table-dark table-bordered table-responsive-sm">
    <thead>
       <th scope="row" colspan="7"> Sommaire des commandes par utilisateur </th>
       <tr>
       <th scope="row" colspan="1"><a (click)="sortEmail()">Utilisateur </a></th>
       <th scope="row" colspan="1"> <a (click)="sortAvgUnit()">Moyenne du prix unitaire des produits </a></th>
       <th scope="row" colspan="1"><a (click)="sortAvgProduct()"> Quantité moyenne par produit </a> </th>
       <th scope="row" colspan="1"><a (click)="sortMinValue()">Valeur minimum par commande </a> </th>
       <th scope="row" colspan="1"><a (click)="sortMaxValue()">Valeur maximum par commande </a> </th>
       <th scope="row" colspan="1"><a (click)="sortAvgValue()">Valeur moyenne par commande </a> </th>
       <th scope="row" colspan="1"><a (click)="sortTotalValue()">Valeur Total commandé </a> </th>
      </tr>
    </thead>

    <tbody>
        <tr *ngFor="let userCommandSummary of this.userCommandSummary" class="text-center">
        <td>{{userCommandSummary.email}}</td>
        <td>{{userCommandSummary.unit_product_value_average}}$</td>
        <td>{{userCommandSummary.average_unit_per_product}}</td>
        <td>{{userCommandSummary.minimum_command_value_sub_total}}$</td>
        <td>{{userCommandSummary.maximum_command_value_sub_total}}$</td>
        <td>{{userCommandSummary.Average_command_value_sub_total}}$</td>
        <td>{{userCommandSummary.total_command_value}}$</td>
        </tr>
    </table>
</div>
