<h1> Detail de la commande # Date</h1>
<button class="btn btn-success">Modifier</button> <button class="btn btn-danger"> Annuler la commande</button>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Facture :</th>
      </tr>
    </thead>
    <tbody>
        <tr> <td> Sous-Total : </td> <td> todo </td></tr>
        <tr><td> Total taxes : </td> <td> Todo </td> </tr>
        <tr> <td>  Total : </td>  <td> Todo </td> </tr>
    </table> 
</div>
<table class="table table-striped">
    <thead>
      <tr>
        <td> Sous-Total : </td>
        <td> Todo </td>
      </tr>
    </thead>
    <tbody>
        <tr> <td> Sous-Total : </td> <td> Todo </td></tr>
        <tr><td> Total taxes : </td> <td> Todo </td> </tr>
        <tr> <td>  Total : </td>  <td> Todo </td> </tr>
 </table> 
<table>
  <tbody>
    <tr>
      <td> Sous-Total : </td>
      <td> Todo </td>
    </tr>
    <tr>
      <td> Total taxes : </td>
      <td> Todo </td>
    </tr>
    <tr>
      <td> Total : </td>
      <td> Todo </td>
    </tr>
</table>