<div>

  <div class="float-md-left">
    <div class="px-md-1">
      <h1> Détail de la commande # {{currentCommand.id}} </h1>
    </div>
    <div class="px-md-1">
      <h3> Date : {{currentCommand.created_at}} </h3>
    </div>
    <div class="px-md-1">
      <h3> Statut : {{currentCommand.state}} </h3>
    </div>
    <button class="btn btn-success mr-sm-2" (click)=updateCommandShipping()><i class="fa fa-edit"></i></button>
    <button class="btn btn-danger mr-sm-2" (click)=cancelCommand()> <i class="fa fa-ban"></i></button>
  </div>
  <div>
    <div>
      <div class="row">
        <div class="px-md-1">

        </div>
      </div>
    </div>
  </div>


  <div>
    <table class="table table-bordered table-responsive-sm">
      <thead class="thead-dark">
        <th scope="row" colspan="2"> Facture : </th>

      </thead>
      <tbody>
        <tr>
          <td> Sous-Total : </td>
          <td> {{currentCommand.sub_total}} $ </td>
        </tr>
        <tr>
          <td> TPS : </td>
          <td> {{currentCommand.tps}} $ </td>
        </tr>
        <tr>
          <td> TVQ : </td>
          <td> {{currentCommand.tvq}} $ </td>
        </tr>
        <tr>
          <td> Total : </td>
          <td> {{currentCommand.total}} $</td>
        </tr>
    </table>
  </div>

  <div>
    <table class="table table-bordered table-responsive-sm">
      <thead class="thead-dark">
        <th scope="row" colspan="1"> Adresse de livraison </th>

      </thead>
      <tbody>
        <td style="text-align: center;"> {{currentCommand.shipping_adress}} </td>
    </table>
  </div>

  <div>
    <form [formGroup]="searchCommandForm" (ngSubmit)="searchCommand()" class="form-inline">
      <input formControlName="search" placeholder="Entrer le nom du produit" type="text" class="form-control">
      <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
    </form>
    <br>  
    <div>

      <table class="table table-bordered table-responsive-sm">
        <thead class="thead-dark">
          <th scope="row" colspan="4"> Produits </th>
          <tr>
            <th scope="row" colspan="1"> Produit </th>
            <th scope="row" colspan="1" (click)="sortByUnitPrice()">
              Prix unitaire
              <i *ngIf="this.sort=='priceUnitlUp'" class="fa fa-angle-up"></i>
              <i *ngIf="this.sort=='priceUnitDown'" class="fa fa-angle-down"></i>
            </th>
            <th scope="row" colspan="1" (click)="sortbyQuantity()">
               Quantité
              <i *ngIf="this.sort=='quantityUp'" class="fa fa-angle-up"></i>
              <i *ngIf="this.sort=='quantityDown'" class="fa fa-angle-down"></i> 
            </th>
            <th scope="row" colspan="1" (click)="sortByTotalPrice()">
              Total
              <i *ngIf="this.sort=='priceTotalUp'" class="fa fa-angle-up"></i>
              <i *ngIf="this.sort=='priceTotalDown'" class="fa fa-angle-down"></i> 
            </th>
          </tr>

        </thead>
        <tbody>
          <tr *ngFor="let commandProduct of this.currentCommand.command_products" class="text-center" app-command-items
            [commandProduct]="commandProduct" [userID]="this.currentCommand.user_id">
          </tr>
      </table>
    </div>
  </div>