<body>
  <div class="container text-center">
    <h1>Inscription</h1>
    <div class="row mt-2">
        <div class="col-10 offset-1">
            <!-- https://getbootstrap.com/docs/4.5/components/forms -->
            <form [formGroup]="signForm">
              <table class="center">
                  <tr>
                    <td>
                      <div class="form-group">
                        <p>Prénom*</p>
                        <input formControlName="firstname" [class.is-invalid]="signForm.get('firstname')?.errors && signForm.get('firstname')?.dirty && signForm.get('firstname')?.touched" type="text" placeholder="Homer" class="form-control" >
                        <div class="invalid-feedback text-left">
                          Veuillez entrer un prénom valide.
                        </div>
                      </div>
                    </td>

                    <td>
                      <div class="form-group">
                        <p>Adresse*</p>
                        <input formControlName="address" [class.is-invalid]="signForm.get('address')?.errors && signForm.get('address')?.dirty && signForm.get('address')?.touched" type="text" placeholder="742 Evergreen Terrace" class="form-control" >
                        <div class="invalid-feedback text-left">
                          Veuillez entrer une adresse valide.
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="form-group">
                        <p>Nom de famille*</p>
                        <input formControlName="lastname" [class.is-invalid]="signForm.get('lastname')?.errors && signForm.get('lastname')?.dirty && signForm.get('lastname')?.touched" type="text" placeholder="Simpson" class="form-control" >
                        <div class="invalid-feedback text-left">
                          Veuillez entrer un nom de famille valide.
                        </div>
                      </div>
                    </td>

                    <td>
                      <div class="form-group">
                        <p>Ville*</p>
                        <input formControlName="city" [class.is-invalid]="signForm.get('city')?.errors && signForm.get('city')?.dirty && signForm.get('city')?.touched" type="text" placeholder="Springfield" class="form-control" >
                        <div class="invalid-feedback text-left">
                          Veuillez entrer une Ville valide.
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="form-group">
                        <p>Adresse Email*</p>
                        <input formControlName="email" [class.is-invalid]="signForm.get('email')?.errors && signForm.get('email')?.dirty && signForm.get('email')?.touched" type="email" placeholder="homersimpson@foxnews.com" class="form-control" >
                        <div class="invalid-feedback text-left">
                          Veuillez entrer une adresse email valide.
                        </div>
                      </div>
                    </td>

                    <td>
                      <div class="form-group">
                        <p>Code Postale*</p>
                        <input formControlName="postalCode" [class.is-invalid]="signForm.get('postalCode')?.errors && signForm.get('postalCode')?.dirty && signForm.get('postalCode')?.touched" type="text" placeholder="D0E2D2" class="form-control" >
                        <div class="invalid-feedback text-left">
                          Veuillez entrer un code postale valide.
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="form-group">
                        <p>Mot de passe*</p>
                        <input formControlName="password" [class.is-invalid]="signForm.get('password')?.errors && signForm.get('password')?.dirty && signForm.get('password')?.touched" type="password" placeholder="Au moins 6 caractères" class="form-control" >
                        <div class="invalid-feedback text-left">
                          Veuillez entrer un mot de passe valide.
                        </div>
                      </div>
                    </td>

                    <td>
                      <div class="form-group">
                        <p>Province*</p>
                        <input formControlName="province" [class.is-invalid]="signForm.get('province')?.errors && signForm.get('province')?.dirty && signForm.get('province')?.touched" type="text" placeholder="Province" class="form-control" >
                        <div class="invalid-feedback text-left">
                          Veuillez entrer une province valide.
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="form-group">
                        <p>Confirmer mot de passe*</p>
                        <input formControlName="passwordConfirmation" [class.is-invalid]="signForm.errors && signForm.get('passwordConfirmation')?.dirty && signForm.get('passwordConfirmation')?.touched" type="password" class="form-control" >
                        <div class="invalid-feedback text-left">
                          Le mot de passe n'est pas le même.
                        </div>
                      </div>
                    </td>

                    <td>
                      <div class="form-group">
                        <p>Numéro de téléphone*</p>
                        <input formControlName="phonenumber" [class.is-invalid]="signForm.get('phonenumber')?.errors && signForm.get('phonenumber')?.dirty && signForm.get('phonenumber')?.touched" type="text" placeholder="9395550113" class="form-control" >
                        <div class="invalid-feedback text-left">
                          Veuillez entrer un numéro de téléphone valide.
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div>
                        <h1>PHOTO ICI À IMPLÉMENTER</h1>
                      </div>
                    </td>

                    <td>
                      <div>
                        <button [disabled]="signForm.invalid" class="btn btn-lg btn-primary btn-block" type="submit">Confirmer</button>
                        <a [routerLink]="['/']" class="btn btn-lg btn-danger btn-block" role="button">Annuler</a>
                      </div>
                    </td>
                  </tr>
              </table>
            </form>
        </div>
    </div>
  </div>
</body>
