<table class="table table-bordered table-responsive-xl table-active">
    <thead style="background-color: white; text-align: center;">
        <th scope="row" colspan="4">
            Détail sans les taxes
        </th>
        <tr class="text-center">
            <td style="background-color: white;">
                Produits
            </td>
            <td style="background-color: white;">
                <a (click)="sortBy('Prix')">
                    Prix
                </a>
            </td>
            <td style="background-color: white;">
                Actions
            </td>
            <td style="background-color: white;">
                <a (click)="sortBy('Total')">
                    Total
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cartProduct of cart.cart_products" class="text-center" app-cart-list-item
            [cartProduct]="cartProduct">
        </tr>
    </tbody>
    <thead style=" background-color: white; text-align: center;">
        <tr class="text-center">
            <th colspan="3">
                Prix Total sans filtre :
            </th>
            <th class="text-right">
                {{ cart.sub_total | number : '1.2-2' }}$
            </th>
        </tr>
    </thead>
</table>